

.specials__list {
  @media screen and (min-width:768px) {
    --card-item: 2;
  }
  @media screen and (min-width:1200px) {
    --card-item: 4;
  }
}

.specials__icon-wrapper {
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: var(--color3);
  border-radius: 4px;
  display: flex;
}

.specials__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: var(--color2);
}