.header .main__logo {
  margin-right: 93px;
}
.main__logo {
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.studio-white {
  color: var(--color1);
}

.studio-black {
  color: var(--color2);
}